body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
}

h1 {
    color: #333;1
}

h2 {
    color: blue;
}

p {
    font-size: 20px;
    color: #666;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
